.choose{
    color: #aaa;
    transition: color 0.3s ease;
    cursor: pointer;
    display:flex;
    align-items: center;

}

.choose :hover {
  color: black;
}



.menu{
    display:flex;
    gap: 20px;

}

footer{
    background-color:#f2f2f2;
}